
 .stylediv {
    /* display: flex; */
    height: 100%;
    width: 100%;
    background-color:rgb(134, 112, 232);
    float:center;
    justify-content: center;
    justify-items: center;
    border-radius: 4px;
    border-color: rgb(244, 125, 125);
    background-image: url("static/image5.jpg");
    padding: 20px;
  }
  .styleheading{
      color: rgb(76, 47, 170);
      margin: .5em;
  }
  .imageClass{
      align-items: center;
  }
  .files{
      height:auto;
      width:auto;
      text-align: center;
      border-radius: 4px;
      background-color: rgb(71, 181, 214);
      color: rgb(255,255,255);
      padding: 10px;
  }

  
.generated-img{
    top:0;
    left:0;
    padding:20px;
    max-width: 10px;
    max-height: 12px;
}

.content{
    padding:8px 9px;
}

.content p{
    line-height: 1.9;
}

.content img{
    max-height: 500px;
}

/* Share button container */

.share-btn-container{
    background-color: #fff;
    display: flex;
    right: 0;
    width: fit-content;
    position: fixed;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 1px 2px rgb(247, 178, 178);
    padding: 16px;
}

.share-btn-container a i{
    font-size: 32px;
}

.share-btn-container a{
    margin: 12px 0;
    transition: 500ms;
}

.share-btn-container a:hover{
    transform: scale(1.2)
}

.share-btn-container .fa-facebook{
    color: #1877f2;
}

.share-btn-container .fa-twitter{
    color: #1da1f2;
}

.share-btn-container .fa-whatsapp{
    color: #25d366;
}

.share-btn-container .fa-instagram{
    color: #fd1d1d;
}

.share-btn-container .fa-linkedin{
    color: #0077b5;
}


/* Media query */
@media (max-width:550px){
    .content{
        padding: 8px 32px;
    }
    .share-btn-container{
        transform: unset;
        top: unset;
        right: 0;
        bottom: 0;
        width: 100%;
        flex-direction: row;
        box-shadow: 1px 0 2px rgb(0,0,0.3);
        padding: 16px 0;
    }
    .share-btn-container a{
        margin: 0 32px;
    }
}